<!doctype html>
<html lang="pt-br">
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Smart Drip Ltda. </title>
</head>
<body>
  <header class="bg-dark">
    <div class="col-100">
      <h1 class="color-white"><%= title %></h1>
    </div>
  </header>
  <section>
    <div class="col-30 bg-grey">Esquerda</div>
    <div class="col-70">Direita  </div>
  </section>
</body>
</html>
